<form #form='ngForm' (ngSubmit)="onSubmit()">
  <h4 class="text-center">{{ header[state] }}</h4>
  <div class="form-content">
    <div>
      <label for="firstName">First Name:</label>
      <input
        id="firstName"
        name="firstName"
        placeholder="John"
        [ngModel]="state === 'add' ? newContact.firstName : contact.firstName"
        (ngModelChange)="state === 'add' ? newContact.firstName = $event : contact.firstName = $event"
        [disabled]="state === 'view'"
        required
        minlength="2"
        #firstNameControl="ngModel"
      >
    </div>
    <ng-container *ngIf="firstNameControl.invalid && firstNameControl.touched">
      <div class="text-danger" *ngIf="firstNameControl.errors?.['required']; else minlengthError">
        Please enter a value.
      </div>
      <ng-template #minlengthError>
        <div class="text-danger" *ngIf="firstNameControl.errors?.['minlength']">
          Please enter at least 2 characters.
        </div>
      </ng-template>
    </ng-container>
    <div>
      <label for="lastName">Last Name:</label>
      <input
        id="lastName"
        name="lastName"
        placeholder="Doe"
        [ngModel]="state === 'add' ? newContact.lastName : contact.lastName"
        (ngModelChange)="state === 'add' ? newContact.lastName = $event : contact.lastName = $event"
        [disabled]="state === 'view'"
        required
        minlength="2"
        #lastNameControl="ngModel"
      >
    </div>
    <ng-container *ngIf="lastNameControl.invalid && lastNameControl.touched">
      <div class="text-danger" *ngIf="lastNameControl.errors?.['required']; else minlengthError">
        Please enter a value.
      </div>
      <ng-template #minlengthError>
        <div class="text-danger" *ngIf="lastNameControl.errors?.['minlength']">
          Please enter at least 2 characters.
        </div>
      </ng-template>
    </ng-container>
    <div>
      <label for="phoneNumber">Phone Number:</label>
      <input
        id="phoneNumber"
        name="phoneNumber"
        placeholder="123-456-7890"
        [ngModel]="state === 'add' ? newContact.phoneNumber : contact.phoneNumber"
        (ngModelChange)="state === 'add' ? newContact.phoneNumber = $event : contact.phoneNumber = $event"
        [disabled]="state === 'view'"
        required
        #phoneNumberControl="ngModel"
        pattern="^\d{10}$"
      >
    </div>
    <ng-container *ngIf="phoneNumberControl.invalid && phoneNumberControl.touched">
      <div class="text-danger" *ngIf="phoneNumberControl.errors?.['required']; else patternError">
        Please enter a value.
      </div>
      <ng-template #patternError>
        <div class="text-danger" *ngIf="phoneNumberControl.errors?.['pattern']">
          Please enter a valid phone number (10 digits).
        </div>
      </ng-template>
    </ng-container>
    <div>
      <label for="birthDate">Birth Date:</label>
      <input
        id="birthDate"
        name="birthDate"
        placeholder="Jan 1, 1991"
        [ngModel]="state === 'add' ? newContact.birthDate : contact.birthDate | date"
        (ngModelChange)="state === 'add' ? newContact.birthDate = $event : contact.birthDate = $event"
        [disabled]="state === 'view'"
        required
        #birthDateControl="ngModel"
      >
    </div>
    <ng-container *ngIf="birthDateControl.invalid && birthDateControl.touched">
      <div class="text-danger" *ngIf="birthDateControl.errors?.['required']">
        Please enter a value.
      </div>
    </ng-container>
    <div>
      <label for="email">Email:</label>
      <input
        id="email"
        name="email"
        placeholder="john.doe@gmail.com"
        [ngModel]="state === 'add' ? newContact.email : contact.email"
        (ngModelChange)="state === 'add' ? newContact.email = $event : contact.email = $event"
        [disabled]="state === 'view'"
        required
        #emailControl="ngModel"
        pattern=^[\w.-]{2,}@[\w\-]+\.(com|org|net)$
      >
    </div>
    <ng-container *ngIf="emailControl.invalid && emailControl.touched">
      <div class="text-danger" *ngIf="emailControl.errors?.['required'] else patternError">
        Please enter a value.
      </div>
      <ng-template #patternError>
        <div class="text-danger" *ngIf="emailControl.errors?.['pattern']">
          Please enter valid email.
        </div>
      </ng-template>
    </ng-container>
    <div>
      <label for="address">Address:</label>
      <input
        id="address"
        name="address"
        placeholder="New York, United States"
        [ngModel]="state === 'add' ? newContact.address : contact.address"
        (ngModelChange)="state === 'add' ? newContact.address = $event : contact.address = $event"
        [disabled]="state === 'view'"
        required
        minlength="5"
        #addressControl="ngModel"
      >
    </div>
    <ng-container *ngIf="addressControl.invalid && addressControl.touched">
      <div class="text-danger" *ngIf="addressControl.errors?.['required']; else minlengthError">
        Please enter a value.
      </div>
      <ng-template #minlengthError>
        <div class="text-danger" *ngIf="addressControl.errors?.['minlength']">
          Please enter at least 5 characters.
        </div>
      </ng-template>
    </ng-container>
    <div *ngIf="state !== 'view'" class="text-center">
      <button class='btn btn-primary' type="submit" [disabled]="form.invalid">{{ state === 'add' ? 'Submit' : 'Update' }}</button>
    </div>
  </div>
</form>
